:root{
  --white-color: #FFFFFE;
  --darkBlue-color: #232946 ;
  --Theme-color: #EEBBC3;
  --lightBlue-color: #B8C1EC ;
}
*{
  box-sizing: border-box;
  text-decoration: none;
  list-style:none;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-display: swap;
}


/* components */
.container{
  padding: 20px 30px;
  width: 100%;
  margin: auto;
}
.loader-container{
  position: fixed;
  z-index: 500;
  background-color: #282828;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #FFF;
  box-shadow: -35px 0 #FFF, 35px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -35px 0 #fb6078, 35px 0 #FFF;
  }
  66% {
    background: #fb6078;
    box-shadow: -35px 0 #FFF, 35px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -35px 0 #FFF, 35px 0 #fb6078;
  }
}
/* start setting box  */
.setting-box{
background-color: var(--lightBlue-color);
min-height: 100vh;
width: 200px;
position: fixed;
z-index: 10;
left: -200px;
transition: .5s;
}
.setting-box.opened{
  left: 0;
}
.setting-box .gear-icon{
  position: absolute;
  right: -65px;
  background-color: var(--lightBlue-color);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 40px 40px 0 ;
  cursor: pointer;
}
.setting-box .gear-icon .icon{
  width: 30px;
  height: 30px;
  padding: 10px 20px;
  color: var(--darkBlue-color);
  transition: .5s;
}
.setting-box .setting-content .option-container{
  background-color: #ffffff49;
  padding-block: 15px;
  margin: 2px;
  margin-top: 10px;
  border-radius: 3px;
  text-align: center;
}
.setting-box .setting-content {
  margin: 7px;
}
.setting-box .setting-content h3{
  width: 100%;
  text-align: center;
  color: var(--darkBlue-color);
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.setting-box .setting-content .option-container:nth-child(2) h3{
  font-size: 20px;
}

.setting-box .setting-content .colors-list{
  width: 100%;
  text-align: center;
}
.setting-box .setting-content .colors-list li{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-inline: 2px;
  opacity: .5;
  transition: .2s;
}
.setting-box .setting-content .colors-list li:hover , .setting-box .setting-content .colors-list li.active {
  opacity: 1;
  border: 2px solid #FFFFFE;
}
.setting-box .setting-content .colors-list li:first-child{
  background-color: #EEBBC3;
}
.setting-box .setting-content .colors-list li:nth-child(2){
  background-color: #255C99;
}
.setting-box .setting-content .colors-list li:nth-child(3){
  background-color: #00EA8D;
}
.setting-box .setting-content .colors-list li:nth-child(4){
  background-color: #EB9E00;
}
.setting-box .setting-content .colors-list li:nth-child(5){
  background-color: #9C50F0;
}

.setting-box .option-container .btn-shape {
  display: inline-block;
  text-align: center;
  width: 60px;
  font-weight: 500;
  padding: 5px;
  color: var(--darkBlue-color);
  background-color: rgba(220, 220, 220, 0.774);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}
.setting-box .option-container .btn-shape:hover , .setting-box .option-container .btn-shape.btn-active{
  color: rgba(255, 255, 255, 0.884) ;
  background-color: var(--darkBlue-color);
  box-shadow: #2329466c 0px 0px 6px 2px ;
}
.rest-btn{
  cursor: pointer;
  text-align: center;
  margin: 10px 5px 5px;
  padding: 10px 20px;
  background-color: rgb(216, 73, 73);
  border-radius: 5px;
  color: white;
  transition: .5s;
  border: 1px solid transparent;
}
.rest-btn:hover{
  box-shadow:rgb(216, 73, 73) 0px 0px 12px .5px ;
  border: rgb(218, 35, 35) solid 1px;
}


/*  End setting box  */
/* Start bullets */
.nav-bullets{
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 50%;
}
.nav-bullets .bullet-container{
  width: 17px ;
  height: 17px ;
  border-radius: 50%;
  border: 3px solid var(--Theme-color);
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.nav-bullets .bullet-container:hover > .bullet{
  display: block;
}
.nav-bullets .bullet-container .bullet{
  position: absolute;
  background-color: var(--Theme-color);
  width: 100px;
  left: -120px;
  top: -4px;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  display: none;
  -webkit-user-select: none;
  user-select: none;
  
}
.nav-bullets .bullet-container .bullet::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
  right: -13px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent var(--Theme-color);
  
}
@media (max-width:480px) {
.nav-bullets{
  right: 40px;
}
}
/* End bullets */

/* start landing page */

.landing-page{
  min-height: 100vh;
  position: relative;
  background-image: url(../imgs/Background-1.jpg);
  background-size: cover;
  transition: 2.5s;
  background-position: center;
}
.landing-page .overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.landing-page .header-container{
  position: relative;
  width: 100%;
  display:flex;
  justify-content: space-between;
  z-index: 6;
  padding-inline: 20px;
}
.landing-page .header-container .logo-section h1{
  color: var(--white-color);
  margin: 0;
  transition: .3s;
  position: relative;
}

.landing-page .header-container .logo-section h1:hover{
  color: var(--Theme-color);
}
.landing-page .menu {
  background-color: black;
  width: 30px;
  height: max-content;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
  
}
.landing-page .menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white-color);
  margin-block: 5px;
}
.landing-page .header-container .links-section{
  display: flex;
  align-items: center;
}
.landing-page .header-container .links-section li{
  margin-left: 20px;
  font-size: 18px;
}
.links-section li a{
  color: var(--white-color);
}
.links-section li{
  position: relative;
  
}
.links-section li::after{
  content: "";
  position: absolute;
  background-color: var(--Theme-color);
  left: -100%;
  bottom: -10px;
  height: 2px;
  width: 100%;
  opacity: 0;
  
}
.links-section li:hover::after{
  opacity: 1;
  left: 0; 
  transition: all .3s  linear;
}

.links-section li:hover a{
  color: var(--Theme-color);
  transition: .3s ease-in-out;
}

.text-container{
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  padding: 20px;

}
.text-container .text-heading{
  margin-block: 50px;
  font-size: 55px;
  color: var(--white-color);
}
.text-container .text-heading span{
  color: var(--Theme-color);
}
.text-container .text-description{
  color: var(--white-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  padding-inline: 60px;
}
@media (max-width:992px) {
  .landing-page .menu{
    display: block;
    position: relative;
    z-index: 3;
  }
  .landing-page .menu.opened::after{
    content: "";
    width: 0;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 15px;
    cursor: default;
    border-color: transparent transparent rgb(83 83 83 / 98%) transparent;

  }
  .landing-page .header-container .links-section{
    display: none;
    position: absolute;
    background: rgb(83 83 83 / 98%);
    border-radius: 16px;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 20px 10px;
    flex-direction: column;
    z-index: 50;
  }
  .landing-page .header-container .links-section.opened{
    display: block;
  }
  .landing-page .header-container .links-section .link{
    width: 100%;
}
.landing-page .header-container .links-section .link:not(:last-child){
  margin-bottom: 20px;
}
.links-section li::after{
  content: "";
  position: absolute;
  background-color: gainsboro;
  left: 0;
  bottom: -8px;
  height: 2px;
  width: 90%;
  opacity: 0;
  margin: auto;
  
}
.links-section li:hover::after{
  opacity: 1;
  left: 0; 
  transition: all .3s  linear;
}
.links-section li:hover a{
  padding-left: 20px;
  color: rgb(196, 195, 195);
  transition: .3s ease-in-out;
}
.links-section .link a{
  width: 100%;
  display: inline-block;
  height: 100%;
  padding: 10px;
}
.text-container .text-heading{
  font-size: 40px;
}
.text-container .text-description{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  padding-inline: 10px;
}

}
@media (max-width:480px) {
 .landing-page .text-container{
  width: 70%;
  }
  .landing-page .text-heading{
    font-size: 35px;
  }
}

/* end landing page */
/* Start about us  */

.about-us .container{
  margin-block: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.about-us .container .about-us-contents{
  flex: 1;
  margin-left: 20px;
}
.about-us .container .about-us-contents h3{
  font-size: 50px;
  color: var(--Theme-color);
  margin-bottom: 40px;
  font-weight: bold;
}
.about-us .container .about-us-contents p{
  line-height: 1.7;
  font-size: 18px;
  text-align: start;
  color: #5c5c5c;
  word-spacing: 2px;
  letter-spacing: .7px;
}
.about-us .container .about-us-img{
  flex: 1;
  text-align: center;
}
.about-us .container .about-us-img img{
  width: 80%;
}

@media (max-width:992px) {

  .about-us .container{
    flex-direction: column;
    margin-block: 50px;
  }
  .about-us .container .about-us-contents h3{
    text-align: center;
    font-size: 40px;
  }
  .about-us .container .about-us-contents p{
    text-align: center;
  }
}
@media (max-width:480px) {
  .about-us .container .about-us-contents{
    margin: 0;
  }
  .about-us .container .about-us-contents p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 17px;
  }
}
/* End about us  */

/* Start our skills  */
.our-skills{
  background-color: #e0e0e0;
}
.our-skills .container{
  text-align: center;
  padding-block: 100px;
}
.our-skills .container h2{
  font-size: 50px;
  font-weight: bold ;
  color: var(--Theme-color);
  margin-bottom: 100px;
}
.our-skills .skills-container{
  width: 100%;
}
.our-skills .skills-container .skill-box{
  background-color: #FFFFFE;
  border-radius: 20px;
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  align-items: center;
}
.our-skills .skills-container .skill-box .skill-name{
  font-weight: bold ;
  width: 105px;
  text-align: start;
}
.our-skills .skills-container .skill-box .progress{
  width: 100%;
  height: 35px;
  background-color: #dadada8c;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.our-skills .skills-container .skill-box .progress span{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  border-radius: 30px;
  height: 100%;
  background-color: var(--Theme-color);
  transition: 1s ease-in-out;
}
@media (max-width:992px) {
  .our-skills .container{
    padding-block: 50px;
  }
  .our-skills .container h2{
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media (max-width:480px) {
  .our-skills .skills-container .skill-box .progress{
    height: 25px;
  }
}
/* End our skills  */
/* start gallery */
.gallery .container{
  padding-block: 100px;
}
.gallery .container h2{
  text-align: center;
  margin-bottom: 90px;
  color: var(--Theme-color);
  font-size: 50px;
  font-weight: 00;
}
.gallery .container .imgs-container{
  text-align: center;
}
.gallery .container .imgs-container img{
  width: 400px;
  padding: 5px;
  border: 2px solid rgb(224, 224, 224);
  margin: 6px;
  transition: .5s ease-in-out;
}
.gallery .container .imgs-container img:hover{
  filter: none;
  transform:rotateX(20deg)
}
.overlay{
  background-color: #757474c4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 101;
  background-color: var(--white-color);
  padding: 20px 10px ;
  border-radius: 10px;
}
.popup h3{
  text-align: center;
  color: var(--Theme-color);
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}

.popup img{
  max-width: 100%;
  border-radius: 10px;
}
.close-btn{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--lightBlue-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}
@media (max-width:992px) {
  .gallery .container h2{
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media (max-width:480px) {
  .gallery .container .imgs-container img{
    width: 80%;
  }
}
/* End gallery */
/* start timeline */
.timeline {
  background-color: #e0e0e0;
  padding: 100px 20px 0px;
}
.timeline > h2{
  text-align: center;
  margin-bottom: 90px;
  color: var(--Theme-color);
  font-size: 50px;
  font-weight: bold;
}
.timeline .timeline-content{
  position: relative;
  padding: 60px 10px;
}
.timeline .timeline-content .timeline-tittle{
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--Theme-color);
}
.timeline .timeline-content::before{
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -1px;
  width: 4px;
  height: 100%;
  background-color: var(--lightBlue-color);
}
.timeline .timeline-content::after{
  content: attr(data-year);
  position: absolute;
  padding: 8px 16px;
  font-weight: bold;
  background-color: var(--lightBlue-color);
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-radius: 10px;
}
.timeline .timeline-content .left , .timeline .timeline-content .right  {
  width: calc(50% - 40px);
  background-color: var(--white-color);
  padding: 15px;
  margin-bottom: 50px;
  position: relative;
  border-radius: 10px;
}
.timeline .timeline-content .left::before , .timeline .timeline-content .right::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 4px  solid var(--lightBlue-color);
  top: 10px;
  box-shadow: var(--Theme-color) 0px 0px 10px .3px;
}
.timeline .timeline-content .left::after , .timeline .timeline-content .right::after{
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  width: 0px;
  height: 0px;
  top: 13px;
  
}
.timeline .timeline-content .left::after{
  border-color: transparent transparent transparent var(--white-color);
  right: -20px;
}
.timeline .timeline-content .right::after{
  border-color: transparent var(--white-color) transparent transparent;
  left: -20px;
}
.timeline .timeline-content .left::before {
  right: -52px;
}
.timeline .timeline-content .right::before {
  left: -50px;
}
.timeline .timeline-content .left{
  float: left;
}
.timeline .timeline-content .right {
  float: right;
}
.fixfloat{
  clear: both;
}
.timeline .timeline-content p{
  line-height: 1.5;
  font-size: 16px;
  color: rgb(124, 124, 124);
}
@media (max-width:768px) {
  .timeline > h2{
    font-size: 40px;
  }

  .timeline .timeline-content .right ,.timeline .timeline-content .left{
    float: none;
    margin: auto;
    margin-bottom: 30px;
  }
  .timeline .timeline-content .right::before ,.timeline .timeline-content .left::before ,  .timeline .timeline-content .right::after ,.timeline .timeline-content .left::after{
    display: none;
  }

}
@media (max-width:480px) {
  .timeline .timeline-content .left , .timeline .timeline-content .right  {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }
  .timeline .timeline-content .timeline-tittle{
    text-align: center;
  }
}
/* End timeline */
 /* Start Our features */
 .our-features{
  padding-block: 70px;
 }
 .our-features > h2 {
  text-align: center;
  margin-bottom: 90px;
  color: var(--Theme-color);
  font-size: 50px;
  font-weight: bold;
 }
 
 .our-features .feature-box{
   float: left;
  width: calc(100% / 3 );
   text-align: center;
   margin-block: 50px;
 }
 .our-features .feature-box img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid rgb(216, 216, 216);
  padding: 5px;
  transition: .6s;
 }
 .our-features .feature-box img:hover{
  padding: 0px;
 }

 .our-features .feature-box h4 {
  font-size: 18px;
  color: var(--darkBlue-color);
  margin: 10px 0 30px;
  position: relative;
 }
 .our-features .feature-box h4::before {
  content: "";
  background-color: var(--Theme-color);
  width: 90px;
  height: 3px;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  position: absolute;
 }
 .our-features .feature-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
  color: #5c5c5c;
 }
 @media (max-width:768px) {
  .our-features > h2 {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .our-features .feature-box{
    width: calc(100% / 2);
    margin-block: 25px;
  }
 }
 @media (max-width:576px) {
  .our-features .feature-box{
    width: 100% ;
    margin-block: 25px;
  }
 }
 @media (max-width:480px) {
  .our-features .feature-box{
    width: 80%;
    float: none;
    margin-inline: auto ;
  }
 }
 /* End Our features */
 /* Start testimonials */
 .testimonials{
  text-align: center;
  position: relative;
  padding-block: 90px;
  overflow: hidden;
 }
 .testimonials > h2{
  text-align: center;
  margin-bottom: 90px;
  color: var(--white-color);
  font-size: 50px;
  font-weight: 00;
 }
 .testimonials::before{
  content: "";
  background-color: var(--Theme-color);
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
 }
 .testimonials::after{
  content: "";
  background-color: rgb(77, 77, 77);
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
 }
 .testimonials .container{
  overflow: hidden;
 }
 .testimonials .ts-box{
  width: calc(98% / 3);
  float: left;
  text-align: left;
  background-color: #eee;
  border-radius: 5px;
  padding: 15px;
 }
 .testimonials .ts-box:not(:last-child){
  margin-right: 1%;
 }
 .testimonials .ts-box > p {
  color: #555555;
  line-height: 1.7;
  margin-bottom: 20px;
  font-size: 17px;
  padding-bottom: 20px;
  border-bottom: 2px dotted rgba(167, 167, 167, 0.667);
 }
 .testimonials .ts-box .ts-info{
  position: relative;
  overflow: hidden;
 }
 .testimonials .ts-box .ts-info img {
  float: left;
  margin-right: 15px;
  border-radius: 50%;
 }
 .testimonials .ts-box .ts-info h5 {
  color: var(--darkBlue-color);
  margin-block: 12px;
  font-size: 15px;
  font-weight: bold;
 }
 .testimonials .ts-box .ts-info p {
  color: #3b3b3b;
 }
 @media (max-width:768px) {
  .testimonials > h2{
    font-size: 40px;
    margin-bottom: 40px;
  }
  .testimonials .ts-box:not(:last-child){
    margin-right: auto;
   }
  .testimonials .ts-box{
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
  }
 }
 /* End testimonials */
 /* Start contact us */
 .contact-us {
    min-height: 600px;
    padding: 80px 20px;
    background-image: url(../imgs/contact-us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -180px ;
    position: relative;
 }
 .contact-us > h2 {
  text-align: center;
  margin-bottom: 60px;
  color: var(--Theme-color);
  font-size: 50px;
  font-weight: 00;
  position: relative;
  z-index: 4;
 }
 .contact-us  .overlay-contact{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.815);
    top: 0;
    left: 0;
    z-index: 1;
 }
 .contact-us .container {
  position: relative;
  z-index: 4;
 }

 .contact-us .content {
  overflow: hidden;
 }
 .contact-us .content .left {
  width: 49%;
  float: left;
 }
 .contact-us .content .right {
  width: 49%;
  float: right;
 }
 .contact-us .content .left  input  {
  height: 40px;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 1px 5px;
  border-radius: 4px;
  outline: none;
  border: 2px solid var(--lightBlue-color);
 }
 .contact-us .content .right textarea {
  resize: none;
  width: 60%;
  height: 150px;
  margin-bottom: 10px;
  border: 2px solid var(--lightBlue-color);
  outline: none;
  padding: 8px 8px;
 }
 .contact-us .content .right input[type = "submit"]{
  display: block;
  padding: 9px 18px;
  margin: 0;
  border:none;
  background-color: var(--lightBlue-color);
  color: var(--darkBlue-color);
  border-radius: 3px;
  cursor: pointer;
 }
 .contact-us .content input:focus::placeholder ,  .contact-us .content textarea:focus::placeholder {
  opacity: 0;
  transition: .7s;
 }

 @media (max-width:768px) {
  .contact-us > h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .contact-us .content .left , .contact-us .content .right {
  width: 100%;
  float: none;
 }
 .contact-us .content .left  input  {
  margin: auto;
  margin-bottom: 20px;
 }
 .contact-us .content .right textarea  {
  margin-inline: auto;
  display: block;
 }
 .contact-us .content .right input[type = "submit"]{
  margin: auto;
 }

}
 /* End contact us */
 /* media queries */
 @media (min-width:567px) {
  .container{
    max-width: 540px;
  }
 }
 @media (min-width:768px) {
  .container{
    max-width: 720px;
  }
}
 @media (min-width:992px) {
  .container{
    max-width: 960px;
  }
}
 @media (min-width:1200px) {
  .container{
    max-width: 1170px;
  }
}
@media (min-width:1400px) {

 .container{
    max-width: 95%;
  }
}

 /* media queries */